<!DOCTYPE html>
<html lang="en">
  

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#007bff">
    <meta
      name="description"
      content="PetesList-A platform that allows you to take ownership of your future."
    />
    <meta name="author" content="Peteslist team" />
    <meta
      name="keywords"
      content="PetesList,job opportunities,talent pool,hiring in kenya"
    />
    <link rel="shortcut icon" href="images/icon1.png" />
    <title>
      PetesList-A platform which allows you to take ownership of your future.
    </title>
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="about-main.css" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    
  </head>
  <body>
    <header class="header">
      <!-- logo -->
      <div class="brand">
        <span class="logo">P</span>
        <span class="name">PetesList</span>
      </div>
      <h1 class="slogan">Take ownership of your future.</h1>
      <p class="explanation">
        PetesList is a platform that where employers post open job listings and
        interested individuals select and apply for those jobs.
      </p>
      <h2 class="launch">We are launching soon!!</h2>
     
      
    </header>
    <!-- //container -->
    <section class="container">
      <!-- //image -->
      <div class="image">
        <img src="images/iphone1.jpg" alt="PetesList">
      </div>
      <div class="info">
        <h3>PetesList helps you take ownership of your future.</h3>
        <ul>
          <li><span class="material-symbols-rounded">
            flag_circle
            </span> Pursue your career goals.</li>
            <li><span class="material-symbols-rounded">
              work
              </span> Get an amazing job.</li>
              <li><span class="material-symbols-rounded">
                settings_system_daydream
                </span> Reach your aspiration. </li>
                <li><span class="material-symbols-rounded">
                  person_search
                  </span> Discover great talent</li>
        </ul>
      </div>
    </section>
    
  </body>

</html>
